{% extends 'base.html' %}
{% block body %}<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.image.url}}" height="300" width="300"><br><br>
        </div>
    </div>

    <div class="col-md-6">
        {{movie.name}}
        {{movie.description}}
        {{movie.year}}
        <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
    </div>


    </div>

</div>

{% endblock %}